//Q: 现在知道如何在View文件中通过Model来调用来自不同对象的数据，但如何才能同时将结果显示出来？
//A: 需要用到剃刀语法(RazorSyntax)。剃刀语法也是一种标记语法，其作用为允许开发者在进行Web开发时在网页中嵌入服务器端语言，如C#。当网页被写入浏览器时，
  //基于服务器的代码能够创建动态内容。在网页加载时，服务器在向浏览器返回页面之前，会执行页面内的基于服务器代码。由于是在服务器上运行，这种代码能执行复杂
  //的任务，比如访问数据库。

//Q: 如何使用RazorSyntax?
//A: 在语句前加"@"符号即可。如：

<ul>
@for (int i = 0; i < 10; i++) {
<li>@i</li>
}
</ul>
